@charset "UTF-8";
/* CSS Document */

.container {
	position: absolute; 
	top: 0; left: 0; 
	
	width: 100vw;
}
.bg {
	position: fixed; 
	top: 0; left: 0; 
	z-index: -100; 
	
	width: 100vw; 
	height: 100vh; 
	
	background-image: url("bg1.png"); 
	background-size: auto 100vh;
	background-position: center; 
}

.time {
	position: relative; 
	padding-top: 5vh;
	z-index: 0; 
	
	width: 100vw; 
	height: 30vh; 
	
	/* background-color: #F8EC3B; */ 
}

#clock, #date {
	position: relative; 
	margin-left: auto; 
	margin-right: auto; 
	z-index: 0; 
	
	width: fit-content; 
	height: fit-content; 
	
	/* background-color: #fff; */ 
	color: #fff; 
	font-family: 'Fredoka One', cursive; 
}

#clock {
	font-size: 5rem; 
}

#date {
	font-size: 1.5rem; 
}

.main {
	position: relative; 
	margin-left: 10vw; 
	
	width: 80vw; 
	height: 1200px; 
	
	/* background-color: #1DD5CE; */ 
	/* opacity: .2; */ 
}

.card {
	position: relative;
	margin-bottom: 10px; 
	z-index: 1; 
	
	width: 80vw; 
	
	/* background-color: #A014CA; */ 

	color: #fff; 
}

#card1 {
	height: 260px; 
}

#card2 {
	height: 100px; 
}

#non {
	height: 200px; 
	
	justify-content: center; 
	align-items: center; 
	
	display: none; 
}

.filter {
	position: absolute;
	top: 20px; left: 0; 
	z-index: -2; 
	
	width: 100%; 
	height: 100%; 
	
	filter: blur(20px); 
	background-image: url("bg1.png"); 
	background-position: center; 
	background-size: auto 100vh; 
	background-attachment: fixed; 
}
.card::after {
	content: '';
	
	position: absolute; 
	top: 0; left: 0; 
	z-index: -1; 
	
	width: 100%; 
	height: 100%; 
	
	background-color: rgba(255,255,255,.2); 
	border-radius: 15px; 		
}

.title {
	padding-top: 20px; 
	padding-left: 25px; 
	padding-bottom: 20px; 
	padding-right: 20px; 
	
	/* background-color: #14CB14; */ 
	
	font-family: 'Fredoka One', cursive; 
	font-size: .9rem; 
}

.logo {
	position: relative; 
	margin-right: 10px; 
	float: left; 
	
	width: 20px; 
	height: 20px; 
	
	/* background-color: #EB1543; */ 
	border-radius: 5px; 
}

.laundries {
	background-image: url(logo/laundries.gif); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

.satsports {
	background-image: url(logo/tennisball.gif); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}

#title {
	text-transform: uppercase; 
}

#update {
	position: relative; 
	float: right; 
	
	display: block; 
}

.content {
	padding-left: 25px; 
	padding-right: 20px; 
	
	font-family: 'Fredoka One', cursive; 
}

.na {
	display: none; 
}